.carousel {
	/* position: relative; */
	height: min-content;
}
.carousel-item img {
	width: auto !important;
	max-width: 100%;
	max-height: 50vh;
	aspect-ratio: 900/600;
	margin: auto;
}

.test {
	color: hsl(34, 100%, 65%);
	color: hsl(44, 50%, 65%);
}
