.swiper {
	max-width: 100vw;
	/* height: 600px; */
	border: 5px solid grey;
}
.swiper-slide:nth-child(1) {
}
.swiper-slide {
	/* display: grid;
	place-content: center; */

	display: flex;
	justify-content: center;
	align-items: center;
	img {
		display: block;
	}
}
