.overview {
	height: 100vh;
	/* max-width: 100vw; */
	position: relative;
	border: 10px solid red;
	display: grid;
	grid-template-rows: min-content auto;
	/* place-content: center; */
	/* place-items: center; */
	h2 {
		text-align: center;
	}
}
/* SLIDER */
.slider-container {
	perspective: 50000px;
	/* position: relative; */
	/* width: 80%; */
	/* margin: auto; */
	/* overflow: hidden; */
	/* height: -webkit-fill-available; */
}

.slides {
	transform-style: preserve-3d;
	transform-origin: center;
	position: relative;
	background-image: url(../../assets/slider/2.webp);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 90%;
	width: 80%;
	margin: auto;
	/* position: relative; */
	/* display: flex; */
	transition: transform 1s ease-in-out;
	/* display: grid; */
	/* place-content: center; */
	/* place-items: center; */
	/* border: 10px solid orange; */
	img {
		/* position: absolute; */
		/* display: block; */
		/* margin: auto; */
		/* width: 80%; */
		/* height: 50%; */
	}
	img:nth-child(1) {
		/* z-index: 2; */
	}
	img:nth-child(2) {
		/* z-index: 1; */
	}
	img:nth-child(3) {
		/* z-index: 0; */
	}
}
.slides::before {
	content: "";
	position: absolute;
	inset: 0;
	background-image: url(../../assets/slider/1.webp);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	transform: rotateY(60deg);
	transform-origin: left;
}
.slides::after {
	content: "";
	position: absolute;
	inset: 0;
	background-image: url(../../assets/slider/3.webp);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	transform: rotateY(-60deg);
	transform-origin: right;
}

.slide {
	/* position: absolute;
	min-width: 100%;
	box-sizing: border-box;

	display: grid;
	place-items: center; */
}

/* Optional: Add styling for navigation buttons */
.prev,
.next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 3rem;
	cursor: pointer;
	background-color: #333;
	color: white;
	padding: 10px;
	border: none;
	/* display: none; */
}

.prev {
	left: 0;
}

.next {
	right: 0;
}
/* SLIDER */
