.about {
	/* height: 100vh; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	gap: 2rem;
	padding-block: 2rem;
	background: #ffe3c2;
	background-color: hsl(32, 100%, 88%);
	background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	/* overflow: hidden; */
	color: hsl(33, 20%, 20%);
	letter-spacing: 0.02rem;
	filter: brightness(1.2);
}
.about_text {
	padding-inline-start: 1.5rem;
	h2,
	h3 {
		margin-inline-start: 1.5rem;
	}
	h3 {
		filter: url(#noise);
	}
	.about_text_decor {
		/* border-inline-start: 0.5rem solid hsl(29 48% 63% / 1); */
		border-inline-start: 0.5rem solid hsl(26 30% 40% / 1);
	}
	p {
		position: relative;
		margin-block-start: 1rem;
		padding-inline-start: 1rem;
		max-width: 50vw;
		span {
			/* display: inline-block; */
			display: none;
			width: 1rem;
		}
	}
	p::first-letter {
		font-size: 1.5rem;
		/* float: left; */
		background-color: hsl(33 20% 20% / 0.3);
		margin-right: 2px;
		line-height: 1;
		padding: 0px 5px;
		/* color: hsl(26 30% 40% / 1); */
		color: hsl(26 40% 35% / 1);
		/* filter: url(#noise); */
	}
	/* p::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 4px;
		background-color: red;
	} */
}
.about_image img {
	display: block;
	/* width: 35vw; */
	height: 85vh;
	mix-blend-mode: multiply;
}

@media (width < 950px) {
	.about {
		/* flex-direction: column;
		gap: 1rem; */
		height: auto;
		padding-block-start: 0.6rem;
	}
	.about_text p {
		max-width: 75vw;
	}
	.about_image img {
		/* height: 55vh; */
		/* max-height: 85vh; */
		height: auto;
		max-width: 90vw;
		aspect-ratio: 7/9;
	}
}
